/*-----------------------------------*\
	EBOOK PAGE CSS
\*-----------------------------------*/
.page-template-template-ebook header#main-header:not(.selectingHeader) {
	min-height: 520px;
	background-image: linear-gradient(rgba(54, 54, 54, 0.37), rgba(54, 54, 54, 0.37)), url('../images/travel_nursing_guide_bg.jpg') !important;
}
.page-template-template-ebook h1 {
	color: #ffffff;
	font-family: "Montserrat";
	font-size: 70px;
	font-weight: 700;
	line-height: 1;
	max-width: 900px;
	margin: 20px auto 0;
}
.page-template-template-ebook *,
.page-template-template-ebook *:before,
.page-template-template-ebook *:after {
  box-sizing: border-box;
}
.page-template-template-ebook blockquote {
	color: #2675BC;
	font-size: 26px;
	font-style: italic;
	letter-spacing: 1px;
	line-height: 1.4;
	text-align: center;
	width: 90%;
	margin: 0 auto;
}
.page-template-template-ebook blockquote p {
	margin: 1em 0;
}
section.guide-overview {
	background-color: #F5F5F5;
	padding: 4em 2em;
}
section.guide-overview h2 {
	font-family: "Montserrat";
	color: #1D3465;
	font-size: 50px;
	font-weight: 700;
	line-height: 55px;
	text-align: center;
	margin-bottom: 1em;
}
section.guide-overview>div {
	display: flex;
	flex-wrap: wrap;
	max-width: 920px;
	margin: 0 auto;
}
.part-preview {
	width: 50%;
	padding: 1em;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.part-preview img {
	width: 80px;
	height: 80px;
}
.part-preview>div {
	width: auto;
	padding-left: 1.5em;
}
.part-preview>div h6 {
	color: #2675BC;
	font-family: "Lato";
	font-size: 16px;
}
.part-preview>div h4 {
	color: #1D3465;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.5;
	margin-bottom: 1rem;
}
section.narrow {
	max-width: 640px;
	width: 90%;
	margin: 3rem auto;
	position: relative;
	z-index: 1;
}
section.wide {
	max-width: 960px;
	width: 90%;
	margin: 3rem auto;
	position: relative;
	z-index: 1;
}
section.two-images>div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
section.two-images>div img {
	width: 48%;
	height: auto;
	height: intrinsic;
}
section.anchor-links>div {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-bottom: 1em;
	border-bottom: 1px solid #dfdfdf;
}
section.anchor-links>div a {
	width: 48%;
	color: #2675BC;
	font-size: 18px;
	margin-bottom: 1em;
	transition: .25s all linear;
}
section.anchor-links>div a:hover,
section.anchor-links>div a:focus {
	text-decoration: underline;
}
section.post-preview a {
	color: #1D3465;
	font-family: "Montserrat";
	font-size: 22px;
	font-weight: 700;
	transition: .25s all linear;
}
section.post-preview a:hover,
section.post-preview a:focus {
	text-decoration: underline;
}
section.post-preview p a {
	font-size: 16px;
	font-family: "Lato";
	color: #2675BC;
}
section.post-preview p {
	margin-top: 1em;
}
.page-template-template-ebook section.part-header {
	min-height: 350px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 100%;
	width: 100%;
	margin: 0;
}
#compensation-\&-benefits h6,
#compensation-\&-benefits h4 {
	color: #1D3465;
}
section.part-header>div {
	max-width: 960px;
	width: 90%;
}
section.part-header>div h6 {
	color: #fff;
	font-family: "Lato";
	font-size: 18px;
}
section.part-header>div h4 {
	color: #fff;
	font-size: 50px;
	font-weight: 700;
	line-height: 1.1;
}
.part {
	position: relative;
	margin-bottom: 14em;
}
.part>img {
	position: absolute;
	top: 25%;
	right: 0;
	max-height: 800px;
	z-index: 0;
	width: -webkit-fit-content;
}
.part>img:last-of-type {
	top: 75%;
	left: 0;
	right: unset;
}
.back-to-top {
	position: absolute;
	bottom: -10em;
	right: 20%;
	width: 119px;
	height: 119px;
	background-color: #F5F5F5;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color: #2675BC;
	padding-top: 1em;
}
.back-to-top:hover,
.back-to-top:focus {
	text-decoration: underline;
}
.back-to-top:before {
	content: url('../images/up-arrow.svg');
	position: absolute;
	top: 1.5em;
	left: 50%;
	width: 25px;
	height: 25px;
	transform: translateX(-50%);
}
section.conclusion {
	background-color: #1D3465;
	padding: 4em 0 0;
	position: relative;
}
section.conclusion>div {
	max-width: 640px;
	width: 90%;
	margin: 0 auto 150px;
}
section.conclusion>div h2 {
	color: #fff;
	font-size: 50px;
	font-weight: 700;
	margin-bottom: .5em;
}
section.conclusion>div p {
	color: #fff;
}
section.conclusion .gform_wrapper {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
section.conclusion .gform_wrapper form {
	background-color: #fff;
	padding: 2em 2em 4em;
	max-width: 520px;
}
section.conclusion .gform_wrapper form h3 {
	color: #1D3465;
	font-size: 22px;
	margin-top: 0;
	line-height: 1.5;
}
section.conclusion .gform_wrapper form .gform_body input {
	width: 100% !important;
	padding: 10px !important;
}
section.conclusion>div.conclusion-bg {
	width: 100%;
	height: 370px;
	background-image: url('../images/conclusion_bg.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	max-width: inherit;
	margin: 0;
}
section.conclusion>div.conclusion-apply {
	width: 100%;
	max-width: inherit;
	margin: 0;
	padding: 2em 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
section.conclusion>div.conclusion-apply h3 {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
}
section.conclusion>div.conclusion-apply a.button {
	margin-top: 0;
	margin-left: 2em;
	background-color: #fff;
	color: #1D2547;
}
section.conclusion>div.conclusion-apply a.button:hover,
section.conclusion>div.conclusion-apply a.button:focus {
	background-color: #fb2933 !important;
	color: #fff;
}
div.sticky-download {
	background-color: #1D3465;
	position: sticky;
	bottom: 0;
	left: 0;
	z-index: 998;
	width: 100%;
	padding: 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}
div.sticky-download h3 {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	line-height: 1.5;
	text-align: center;
}
div.sticky-download a.button {
	margin-top: 0;
	margin-left: 2em;
	background-color: #fb2933;
	color: #fff;
}
div.sticky-download a.button:hover,
div.sticky-download a.button:focus {
	background-color: #fff !important;
	color: #1D3465;
}

.gform_wrapper input:not([type="radio"]):not([type="checkbox"]):not([type="image"]):not([type="file"]) {
	-webkit-appearance: none;
}

/*-----------------------------------------
	RESPONSIVE
-----------------------------------------*/
@media only screen and (max-width: 1024px) {
	.page-template-template-ebook header#main-header {
		margin-bottom: 0;
	}
	.page-template-template-ebook h1 {
		font-size: 40px;
		max-width: 500px;
		margin: 3em auto 0;
		padding: 0 1rem;
	}
	.part > img {
		display: none;
	}
}
@media only screen and (max-width: 900px) {
	section.guide-overview h2 {
		font-size: 40px;
	}
	.part-preview {
		width: 100%;
	}
	section.anchor-links>div a {
		width: 100%;
	}
	section.conclusion .gform_wrapper {
		width: 80%;
	}
	section.conclusion > div {
		margin: 0 auto 200px;
	}
	section.conclusion > div.conclusion-apply h3 {
		width: 100%;
	}
	section.conclusion > div.conclusion-apply a.button {
		margin-top: 1em;
		margin-left: 0;
	}
	div.sticky-download h3 {
		width: 100%;
	}
	div.sticky-download a.button {
		margin-top: 1em;
		margin-left: 0;
	}
}
@media only screen and (max-width: 500px) {
	section.part-header>div h4 {
		font-size: 40px;
	}
	div.sticky-download h3 {
		font-size: 16px;
	}
}