@charset "utf-8";


/*-------------------------------------------------------------------
    VARIABLES
-------------------------------------------------------------------*/


/*-------------------------------------------------------------------
    COMPONENTS
-------------------------------------------------------------------*/

html,
body {
    font-size: 16px;
    margin: 0 !important;
    font-weight: 400;
}


/*-----------------------------------------
      TYPOGRAPHY
-----------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3280df;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

h1 {
    font-size: 40px;
    font-size: 2.5rem;
}

h2 {
    font-size: 24px;
    font-size: 1.5rem;
}

h3 {
    font-size: 20px;
    font-size: 1.25rem;
}

h4 {
    font-size: 18px;
    font-size: 1.125rem;
}

h5 {
    font-size: 18px;
    font-size: 1.125rem;
    color: #4a4a4a;
}

h6 {
    font-size: 18px;
    font-size: 1.125rem;
    color: #4a4a4a;
}

h1+h2 {
    color: #4a4a4a;
    font-weight: 400;
    font-size: 24px;
    font-size: 1.5rem;
    margin: -8px 0 16px 0;
    margin: -.5rem 0 1rem 0;
}

p {
    font-family: 'PT Sans', sans-serif;
}

a {
    color: #ff7354;
    font-weight: 700;
    font-family: 'PT Sans', sans-serif
}

a:hover{
    color: #ff7354;
}

a svg{
    max-height: 1.5em;
    max-width: 1.5em;
    fill: #ff7354;
    vertical-align: middle;
    margin-right: 16px;
    margin-right: 1rem;
}


/*-----------------------------------------
      BUTTONS
-----------------------------------------*/

a.button,
input[type="submit"] {
    background: #033067;
    border-radius: 5px;
    padding: 12px 32px;
    padding: .75rem 2rem;
    text-transform: none;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 20px !important;
    font-size: 1.25rem !important;
    min-width: 185px;
    text-align: center
}

a.button:hover, input[type="submit"]:hover{
    background: #4480C9 !important;
    -webkit-transform: scale(.97);
            transform: scale(.97);
}

a.button svg, input[type="submit"] svg{
    max-height: 1.1em;
    max-width: 1.1em;
    fill: #ffffff;
    vertical-align: middle;
    margin-right: 10px;
}


/*-----------------------------------------
      CONTAINERS
-----------------------------------------*/

.flex-container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
}

.one-half {
    width: 50%;
}

.one-half:first-child {
    padding-right: 10%;
}

.one-half:last-child {
    padding-left: 10%;
}

.max-width {
    max-width: 1024px;
    margin: 0 auto;
}


/*-----------------------------------------
      LANDING
-----------------------------------------*/

.landing {
    border-top: 20px solid #eaeaea;
    padding-top: 30px;
    background-position: center top;
    background-size: 1200px auto;
    background-repeat: no-repeat
}

.landing *{
    box-sizing: border-box;
}

.landing_header {
    margin-bottom: 80px;
    margin-bottom: 5rem;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center
}

.landing_header .one-half:last-child{
    text-align: right;
}

.landing_header .one-half:last-child a{
    font-size: 18px;
    font-size: 1.125rem;
}

.landing_main-contents {
}

.landing_main-contents a.button{
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.landing_cta {
    margin: 80px auto;
    margin: 5rem auto;
    -webkit-align-items: initial;
        -ms-flex-align: initial;
            align-items: initial
}

.landing_cta .one-half{
    width: 49%;
    padding: 0;
}

.landing_cta .one-half:first-child{
    margin-right: 1%;
    background-position: center;
    background-size: cover;
}

.landing_cta .one-half:last-child{
    margin-left: 1%;
}

.landing_contact {
    background-color: rgba(234, 234, 234, 0.3);
    padding: 48px 0;
    padding: 3rem 0
}

.landing_contact h2{
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.landing_contact .one-half:first-child{
    border-right: 1px solid rgba(3, 48, 103, 0.3);
}

.landing_contact .one-half:last-child{
    border-left: 1px solid rgba(3, 48, 103, 0.3);
}

.landing_footer {
    background: #033067;
    color: #ffffff;
    padding: 56px 0 128px 0;
    padding: 3.5rem 0 8rem 0
}

.landing_footer a{
    display: block;
}

.landing_footer a:hover{
    text-decoration: underline;
}

.landing_footer a,
    .landing_footer p{
    color: #ffffff;
}


/*-----------------------------------------
      RESPONSIVE
-----------------------------------------*/

@media only screen and (max-width: 1024px) {
    .max-width {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media only screen and (max-width: 800px) {
    .landing_contact .one-half {
        width: 600px;
        max-width: 100%;
        margin: 0 auto
    }
    .landing_contact .one-half:first-child{
        padding: 3rem 0;
        border: none;
        border-bottom: 1px solid rgba(3, 48, 103, 0.3);
    }
    .landing_contact .one-half:last-child{
        padding: 3rem 0;
        border: none;
        border-top: 1px solid rgba(3, 48, 103, 0.3);
    }
}

@media only screen and (max-width: 600px) {
    .one-half,
    .landing_cta .one-half {
        width: 600px;
        max-width: 100%;
        margin: 0 auto;
        padding: 1rem 0
    }
    .one-half:first-child, .landing_cta .one-half:first-child{
        padding-right: 0;
        margin: 0 auto;
    }
    .one-half:last-child, .landing_cta .one-half:last-child{
        padding-left: 0;
        margin: 0 auto;
    }
    .landing_header .one-half {
        text-align: center;
        padding: .5rem 0 .75rem 0
    }
    .landing_header .one-half img{
        margin: 0 auto;
    }
    .landing_header .one-half:last-child {
        text-align: center;
    }
    .landing_cta .one-half {
        min-height: 300px;
    }
    .landing_footer {
        padding: 2rem 0 4rem 0;
        text-align: center
    }
    .landing_footer a{
        margin: .75rem 0;
    }
}