@charset "utf-8";

/*-------------------------------------------------------------------
    VARIABLES
-------------------------------------------------------------------*/
:root {
  --WhiteColor: #ffffff;
  --BlackColor: #4a4a4a;
  --BlueColor: #033067;
  --LBlueColor: #3280df;
  --OrangeColor: #ff7354;
  --HeaderFont: 'PT Sans', sans-serif;
  --BodyFont: 'PT Sans', sans-serif;
}
/*-------------------------------------------------------------------
    COMPONENTS
-------------------------------------------------------------------*/
html,body { font-size: 16px; margin: 0 !important; font-weight: 400; }
/*-----------------------------------------
      TYPOGRAPHY
-----------------------------------------*/
h1, h2, h3, h4, h5, h6 {
  color: var(--LBlueColor);
  font-family: var(--HeaderFont);
  font-weight: 700;
  line-height: 1.25;
  margin-bottom: 1rem;
}
h1 { font-size: 2.5rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.125rem; }
h5 { font-size: 1.125rem; color: var(--BlackColor); }
h6 { font-size: 1.125rem; color: var(--BlackColor); }
h1 + h2 {
  color: var(--BlackColor);
  font-weight: 400;
  font-size: 1.5rem;
  margin: -.5rem 0 1rem 0;
}
p { font-family: var(--BodyFont); }
a { 
  color: var(--OrangeColor); 
  font-weight: 700;
  font-family: var(--BodyFont);
  @nest &:hover { color: var(--OrangeColor);  }
  @nest & svg { 
    max-height: 1.5em; 
    max-width: 1.5em; 
    fill: var(--OrangeColor);
    vertical-align: middle;
    margin-right: 1rem; 
  }
}
/*-----------------------------------------
      BUTTONS
-----------------------------------------*/
a.button, input[type="submit"] {
  background: var(--BlueColor);
  border-radius: 5px;
  padding: .75rem 2rem;
  text-transform: none;
  font-family: var(--BodyFont);
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 1.25rem !important;
  min-width: 185px;
  text-align: center;
  @nest &:hover { 
    background: #4480C9 !important; 
    transform: scale(.97);
  } 
  @nest & svg { 
    max-height: 1.1em; 
    max-width: 1.1em; 
    fill: var(--WhiteColor); 
    vertical-align: middle;
    margin-right: 10px;
  }
}
/*-----------------------------------------
      CONTAINERS
-----------------------------------------*/
.flex-container { 
  display: flex; 
  flex-wrap: wrap;
}
.one-half { width: 50%; }
.one-half:first-child { padding-right: 10%; }
.one-half:last-child { padding-left: 10%; }
.max-width { max-width: 1024px; margin: 0 auto; }
/*-----------------------------------------
      LANDING
-----------------------------------------*/
.landing { 
  border-top: 20px solid #eaeaea; 
  padding-top: 30px; 
  background-position: center top;
  background-size: 1200px auto;
  background-repeat: no-repeat;
  @nest & * { box-sizing: border-box; }
}
.landing_header { margin-bottom: 5rem; align-items: center;
  @nest & .one-half:last-child { text-align: right; 
    @nest & a { font-size: 1.125rem; }
  }
}
.landing_main-contents {
  @nest & a.button { margin-bottom: 1rem; }
}
.landing_cta {
  margin: 5rem auto;
  align-items: initial;
  @nest & .one-half { width: 49%; padding: 0; }
  @nest & .one-half:first-child { 
    margin-right: 1%; 
    background-position: center;
    background-size: cover;
  }
  @nest & .one-half:last-child { margin-left: 1%; }
}
.landing_contact {
  background-color: rgba(234, 234, 234, 0.3);
  padding: 3rem 0;
  @nest & h2 { margin-bottom: 2rem; }
  @nest & .one-half:first-child { border-right: 1px solid rgba(3, 48, 103, 0.3); }
  @nest & .one-half:last-child { border-left: 1px solid rgba(3, 48, 103, 0.3); }
}
.landing_footer { 
  background: var(--BlueColor); 
  color: var(--WhiteColor); 
  padding: 3.5rem 0 8rem 0;
  @nest & a { display: block; 
    @nest &:hover { text-decoration: underline; }
  }
  @nest & a, & p { color: var(--WhiteColor); }
}
/*-----------------------------------------
      RESPONSIVE
-----------------------------------------*/
@media only screen and (max-width: 1024px) {
  .max-width { padding-left: 1rem; padding-right: 1rem; }
}
@media only screen and (max-width: 800px) {
  .landing_contact .one-half { width: 600px; max-width:100%; margin: 0 auto;
    @nest &:first-child { padding: 3rem 0; border: none; border-bottom: 1px solid rgba(3, 48, 103, 0.3); }
    @nest &:last-child { padding: 3rem 0; border: none; border-top: 1px solid rgba(3, 48, 103, 0.3); }
  } 
}
@media only screen and (max-width: 600px) {
  .one-half, .landing_cta .one-half { width: 600px; max-width:100%; margin: 0 auto; padding: 1rem 0; 
    @nest &:first-child { padding-right: 0; margin: 0 auto; }
    @nest &:last-child { padding-left: 0; margin: 0 auto; }
  }
  .landing_header .one-half { text-align: center; padding: .5rem 0 .75rem 0; 
    @nest & img { margin: 0 auto; }
  }
  .landing_header .one-half:last-child { text-align: center; }
  .landing_cta .one-half { min-height: 300px; }
  .landing_footer { padding: 2rem 0 4rem 0; text-align: center; 
    @nest & a { margin: .75rem 0; }
  }
}